@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0;
  font-weight: 700;
  color: black;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: orangered;
}

.content::-webkit-scrollbar {
  width: 5px;
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.content::-webkit-scrollbar-thumb {
  background: grey;
}

.content::-webkit-scrollbar-thumb:hover {
  background: burlywood;
}

.logo-title {
  -webkit-text-stroke: 1px grey;
}
