@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0;
  font-weight: 700;
  color: rgba(255, 69, 0, 0.8);
}

p {
  color: rgba(255, 69, 0, 1);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: orangered;
}

.mainContent-container::-webkit-scrollbar {
  width: 5px;
}

.mainContent-container::-webkit-scrollbar-track {
  background: pink;
}

.mainContent-container::-webkit-scrollbar-thumb {
  background: orange;
}

.mainContent-container::-webkit-scrollbar-thumb:hover {
  background: white;
}

.music-player::-webkit-scrollbar {
  width: 5px;
}

.music-player::-webkit-scrollbar-track {
  background: pink;
}

.music-player::-webkit-scrollbar-thumb {
  background: orange;
}

.music-player::-webkit-scrollbar-thumb:hover {
  background: white;
}
